.ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.overlock-sc-regular {
  font-family: "Overlock SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #131311;
  color: #fff;
}

.navbar {
  display: flex;
  background-color: #249d9d;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  /* height: 7vh; */
}
.name {
  font-size: 2.75rem;
}
.name p {
  margin: 0;
  color: #131311;
}
.name span {
  color: #fff;
}
.linked-in img {
  height: 2.5rem;
  vertical-align: bottom;
  filter: invert(100%);
}
.linked-in a {
  text-decoration: none;
}

.content {
  height: 90vh;
  display: flex;
  align-items: center;
}

.for-flex {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  gap: 3rem;
  width: 100%;
}
.text-flex {
  width: 42%;
}
.text-flex h1 {
  font-size: 2.7rem;
  margin: 0;
}

.text-flex p {
  margin: 0;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-flex h2 {
  margin-top: 40px;
  font-size: 2rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.buttons button {
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 8px;
  padding-left: 10px;
  padding-right: 12px;
  border: 0;
  background-color: #8b9187;
}

.buttons img {
  height: 1.6rem;
  vertical-align: top;
}

.textbox-flex {
  width: 100%;
  background-color: #8b9187;
  border-radius: 10px;
  height: 90%;
  box-shadow: 0 0 5px #249d9d;
}

.right {
  width: 57%;
  display: flex;
  flex-direction: column;
}

.clear-button {
  justify-content: right;
  display: flex;
  height: 9%;
}
.clear-button button {
  background-color: #8b9187;
  border: 0;
  padding: 0%;
  border-radius: 21px;
}
.clear-button button img {
  height: 2rem;
}
textarea {
  background-color: #8b9187;
  border: 0;
  width: 100%;
  resize: none;
  height: 85%;
  padding: 0px 22px;
  font-size: 1.5rem;
  box-sizing: border-box;
}
textarea::placeholder {
  color: #131311;
}
textarea:focus {
  outline: none;
}

.options {
  display: flex;
  gap: 2rem;
}

button{
  cursor: pointer;
}

.button:active{
  background-color: #1a7474;
}

.generate button {
  position: relative;
  background-color: #249d9d;
  font-size: 1.8rem;
  border-radius: 15px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
}

/* Audio Player */
.audio-player {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 2.4rem;
  align-self: center;
}

#play,#pause,#download {
  filter: invert(100%);
  height: 100%;
}

#play img,#pause img,#download img{
  height: 100%;
}

#play, #pause{
  cursor: pointer;
}

#down{
  display: inline;
  color: #000;
  padding: 0;
  vertical-align: top;
  font-size: 1.5rem;
}

.progress-bar { 
  width:250px;
  height:7px;
  background-color:#fff;
  position: relative;
  float:left;
  border-radius: 20px;
}

.progress {
  background-color:#249d9d ;
  height:7px;
  display:inline-block;
  border-radius: 20px;
  position: absolute;
}

#duration{
  font-size: 1.1rem;
}



@media (max-width: 1180px) {
  .content {
    height: auto;
  }
  .for-flex {
    flex-direction: column;
    gap: 5rem;
  }
  .text-flex,
  .textbox-flex,
  .right {
    width: 100%;
  }
  .textbox-flex{
    height: 18rem;
  }
}

@media (max-width: 855px) {
  .navbar,
  .for-flex {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .for-flex {
    padding-top: 60px ;
    padding-bottom: 60px;
  }
  
  body {
    position: absolute;
  }
}

@media (max-width:700px){
  .options{
    gap: 1rem;
  }
  .progress-bar{
    width: 190px;
  }
  .audio-player{
    gap: 0.55rem;
    font-size: 0.4rem;
  }
}
@media (max-width: 600px) {
  .navbar{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .options {
    display: block;
  }
  .generate{
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }
  .for-flex {
    padding: 30px 1rem;
  }
  .audio-player{
    gap: 0.6rem;
    font-size: 0.6rem;
  }
}
